body {
    background-color: grey;
  }
  
  #wrapper {
    margin: 1em auto;
    padding: 0px;
    width: 960px;
    border: 4px solid rgb(2, 78, 155);
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
  }

  header {
    grid-column: span 12;
    background-image: linear-gradient(to bottom, #3886d9, #1675d8, #0063d4, #0050ce, #093ac6);
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
    margin: 0;
  }
    h1 a{
    font-style: italic;
    font-weight: normal;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    color: rgb(77, 209, 241)!important;
    text-decoration: none!important;
  }

 
  nav {
    grid-column: span 12;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    width: 234px;
    margin-top: 0px;
    margin-right: 0px;
    display: inline-block;
  }
  
  nav li a {
    background-image: linear-gradient(to bottom, #3886d9, #1675d8, #0063d4, #0050ce, #093ac6);
    padding: 8px;
    padding-left: 24px;
    color: rgb(77, 209, 241);
    text-decoration: none;
    font-weight: bold;
    display: block;
    border-bottom: 4px solid rgb(2, 78, 155) ;
  }

  nav li a:hover{
   color: white;
   background-image: linear-gradient(to bottom, #3d91eb, #1780ec, #006eeb, #005ae8, #0d44e1);
  }

  .white{
    color: white;
  }

   h2{
    border-bottom: solid #093AC6 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #093AC6;
    padding-bottom: 4px;
  }
  
  main {
    grid-column: span 4;
    padding-right: 32px;
    padding-left:32px ;
    background-color: rgb(178, 239, 247);
  }
  
  main p {
    font-weight: bold;
    text-align: justify;
  }

  .spacing2{
    margin-top: 48px;
  }

  main2 img {
    width: 300px;
    float: left;
    border: rgb(2, 78, 155) solid 3px;
    margin-right: 8px;
    margin-bottom: 8px;
  }

  main2{
    grid-column: span 8;
    padding-right: 32px;
    padding-left:32px ;
}

   main2 a{
    font-weight: bold;
    color: red;
    text-decoration: none;
  }

  main2 a:hover{
    color: blue;
    text-decoration: underline;
  }

  main3 img {
    width: 300px;
    float: right;
    border: rgb(2, 78, 155) solid 3px;
    margin-left: 12px;
    margin-bottom: 8px;
  }

  main3{
    grid-column: span 8;
    padding-right: 32px;
    padding-left:32px ;
}

   main3 a{
    font-weight: bold;
    color: red;
    text-decoration: none;
  }

  main3 a:hover{
    color: blue;
    text-decoration: underline;
  }

  main4 img {
    width: 250px;
    margin-left: 0px;
    margin-bottom: 4px;
  }

  main4{
    grid-column: span 4;
    padding-right: 32px;
    padding-left:32px ;
}

   main4 a{
    font-weight: bold;
    color: red;
    text-decoration: none;
  }

  main4 a:hover{
    color: blue;
    text-decoration: underline;
  }
  main5 img {
    width: 250px;
    margin-left: 0px;
    margin-bottom: 4px;
  }

  main5 {
    grid-column: span 4;
    padding-right: 32px;
    padding-left:32px ;
}

   main5 a{
    font-weight: bold;
    color: red;
    text-decoration: none;
  }

  main5 a:hover{
    color: blue;
    text-decoration: underline;
  }
  main6 img {
    width: 250px;
    margin-left: 0px;
    margin-bottom: 4px;
  }

  main6{
    grid-column: span 4;
    padding-right: 32px;
    padding-left:32px ;
}

   main6 a{
    font-weight: bold;
    color: red;
    text-decoration: none;
  }

  main6 a:hover{
    color: blue;
    text-decoration: underline;
  }
  footer {
    background-color: red;
    grid-column: span 12;
    border-top:rgb(2, 78, 155) solid 4px;
    padding: 8px;
  }
  